/* ornek2.css dosyası ornek2.html dosyası için external css'dir.*/
body{
    background: #ab9bf6;
    font-size: 30px;
    text-align: center;
}
#anadiv{
    background: white;
    margin: 0 auto;
    width: 800px;
}
#logo{
    float: left;
    width: 180px;
    height: 150px;
    border: 2px solid blue;
    margin-right: 10px;
}
#menu{
    float: right;
    width: 500px;
    height: 40px;
    border: 2px solid blue;
    margin-top: 100px;
}
#slider{
    width: 797px;
    height: 150px;
    border: 2px solid blue;
    margin-top: 10px;
}
#uckutudiv
{
border:2px solid blue;
margin-top:10px;
margin-bottom:10px;
}
.uckutu{
   
    
    height: 200px;
    width: 249px;
    float: left;
    border: 2px solid blue;
    margin: 6px;
}
#dortkutudiv{
    border:2px solid blue;
    margin-top:10px;
margin-bottom:10px;
}
.dortkutu{
height: 150px;
width: 180px;
float: left;
border:2px solid blue;
margin: 7px;
}
#alt{
    height: 50px;
    border: 2px solid blue;
}

.temizle{
    clear: both;
}